<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Datasources" description="Foundation Datasources" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\datasources\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Foundation.Datasources.Templates" database="master" path="/sitecore/templates/Foundation/Datasources" />
                        <include name="Foundation.Datasources.Templates.Branches" database="master" path="/sitecore/templates/Branches/Foundation/Datasources" />
                        <include name="Foundation.Datasources.Ribbon" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Contextual Ribbons/NonChild Datasource Item" />
                        <include name="Foundation.Datasources.Item" database="master" path="/sitecore/content/Data Sources" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>