<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <events>
          <event name="item:added">
              <handler type="JCore.Foundation.Datasources.Events.ItemEventHandler,JCore.Foundation.Datasources" method="OnItemAdded" >
                  <Database>master</Database>
              </handler>
          </event>
          <event name="item:deleted">
              <handler type="JCore.Foundation.Datasources.Events.ItemEventHandler,JCore.Foundation.Datasources" method="OnItemDeleted" >
                  <Database>master</Database>
              </handler>
          </event>
          <event name="item:moved">
              <handler type="JCore.Foundation.Datasources.Events.ItemEventHandler,JCore.Foundation.Datasources" method="OnItemMoved" >
                  <Database>master</Database>
              </handler>
          </event>
          <event name="item:renamed">
              <handler type="JCore.Foundation.Datasources.Events.ItemEventHandler,JCore.Foundation.Datasources" method="OnItemRenamed" >
                  <Database>master</Database>
              </handler>
          </event>
      </events>
      <sites>
          <site name="website">
              <patch:attribute name="datasourceRootItem">{1D4D3540-9F48-4275-B466-66D2C73E2E54}</patch:attribute>
          </site>
      </sites>
      <settings>
          <setting name="JCore.Foundation.Datasources.ChildDatasourceFolderTemplateId" value="{AC919CC0-6C40-456D-BA6E-23B64231118F}"/>
          <setting name="JCore.Foundation.Datasources.ParentDatasourceFolderTemplateId" value="{A8502920-D146-4545-83D0-CE9FB24046DB}"/>
      </settings>
      <commands>
          <command name="datasource:createdatasourcefolder" type="JCore.Foundation.Datasources.Commands.CreateDatasourceFolder, JCore.Foundation.Datasources"/>
      </commands>
      <pipelines>
          <getRenderingDatasource>
              <processor patch:after="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
                  type="JCore.Foundation.Datasources.Pipelines.GetRenderingDatasource.GetDatasourceLocation, JCore.Foundation.Datasources" />
          </getRenderingDatasource>
      </pipelines>
  </sitecore>
</configuration>