<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.SitecoreExtensions" description="Foundation Sitecore Extensions" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\Sitecore Extensions\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.SitecoreExtensions.Templates" database="master" path="/sitecore/templates/Foundation/Sitecore Extensions" />
            <include name="Foundation.SitecoreExtensions.RTEComplete" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Complete" />
            <include name="Foundation.SitecoreExtensions.RTELimited" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Limited" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>