<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <domainManager>
      <domains>
        <domain id="car" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <ensureAnonymousUser>false</ensureAnonymousUser>
        </domain>
      </domains>
    </domainManager>

    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="car">car</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="car">car</site>
          </sites>
        </handler>
      </event>
    </events>
    
    <sites>
      <site name="car" patch:after="site[@name='modules_website']"
            targetHostName="car.$(rootHostName)"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/car"
            startItem="/home"
            dictionaryPath="/sitecore/content/car/global/dictionary"
            dictionaryAutoCreate="false"
            domain="car"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            loginPage="/login"
            enableItemLanguageFallback="true"
            datasourceRootItem="{1D4D3540-9F48-4275-B466-66D2C73E2E54}"/>
    </sites>
    
    <cacheSizes>
      <sites>
        <habitat>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </habitat>
      </sites>
    </cacheSizes>
    
    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="car" />
      </setting>
    </settings>
  </sitecore>
</configuration>