<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Car.Org.Website" description="Car.org content and settings" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Project.Car.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\dot org\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Templates and Presentation -->
            <include name="Car.Org.Website.Templates" database="master" path="/sitecore/templates/Project/CAR" />
            <include name="Car.Org.Website.Renderings" database="master" path="/sitecore/layout/Renderings/Project/CAR" />
            <include name="Car.Org.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/CAR" />
            <include name="Car.Org.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/CAR" />
            <include name="Car.Org.Website.Models" database="master" path="/sitecore/layout/models/Project/CAR" />

            <!-- Content -->
            <include name="Car.Org.Website.Content" database="master" path="/sitecore/content/CAR" />
            <include name="Car.Org.Website.Media.Project" database="master" path="/sitecore/media library/Project/CAR" />
            <include name="Car.Org.Website.Media.Sites" database="master" path="/sitecore/media library/Sites/CAR" />
            <!--
            <include name="Car.Org.Website.Metadata" database="master" path="/sitecore/system/settings/feature/metadata/CAR" />
            -->

            <!-- Personalization -->
            <!--
            <include name="Car.Org.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/CAR" />
            <include name="Car.Org.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/CAR" />
            <include name="Car.Org.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/CAR" />
            <include name="Car.Org.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/CAR" />
            <include name="Car.Org.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/CAR" />
            <include name="Car.Org.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/CAR" />
            <include name="Car.Org.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/CAR" />
            <include name="Car.Org.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/CAR" />
            <include name="Car.Org.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/CAR" />
            -->
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\dot org\serialization\Car.Roles" singleInstance="true" />
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="car" pattern="^Project Car .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\dot org\serialization\Car.Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="car" pattern="^((?!Anonymous).)*$" />
          </userPredicate>
          <userSyncConfiguration removeOrphans="true" defaultPassword="b" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>