<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <mvc.getPageRendering>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="Car.Foundation.Assets.Pipelines.GetPageRendering.ClearAssets, Car.Foundation.Assets"/>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="Car.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Car.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset" />
                </processor>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="Car.Foundation.Assets.Pipelines.GetPageRendering.AddThemeAssets, Car.Foundation.Assets"/>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="Car.Foundation.Assets.Pipelines.GetPageRendering.AddPageAssets, Car.Foundation.Assets"/>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="Car.Foundation.Assets.Pipelines.GetPageRendering.AddRenderingAssets, Car.Foundation.Assets"/>
            </mvc.getPageRendering>
        </pipelines>
    </sitecore>
</configuration>