<!--
   

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Serialization" description="Sitecore.Solution.Framework Root items" extends="Helix.Base">
                    <predicate>

                        <include name="Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">
                            <exclude children="true" />
                        </include>

                        <!-- Templates -->
                        <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
                            <exclude children="true" />
                        </include>

                        <!-- Branches -->
                        <include name="Branches.Foundation" database="master" path="/sitecore/templates/branches/Foundation">
                            <exclude children="true" />
                        </include>

                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>