<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="JCore.Foundation.Datasources.DefaultRenderingDatasourceLocation">
                <patch:attribute name="value">{3C1FB34D-6821-4D26-A4DF-1840AF5CFD2D}</patch:attribute>
            </setting>
        </settings>
        <!--<sites>
            <site name="sample_datasources_site" patch:after="site[@name='modules_website']"
                  targetHostName="$(rootHostName)"
                  database="master"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/Sample"
                  startItem="/home"
                  dictionaryPath="/sitecore/content/Sample/global/dictionary"
                  dictionaryAutoCreate="false"
                  domain="datasources"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="50MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="25MB"
                  filteredItemsCacheSize="10MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  disableClientData="false"
                  cacheRenderingParameters="true"
                  renderingParametersCacheSize="10MB"
                  loginPage="/login"
                  enableItemLanguageFallback="true"
                  datasourceRootItem="{3C1FB34D-6821-4D26-A4DF-1840AF5CFD2D}"/>
        </sites>-->
    </sitecore>
</configuration>
